html, body {
  margin: 0;
  padding: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: 16px Arial, sans-serif;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.year-buttons {
  text-align: center;
}

.year-buttons a {
  display: inline-block;
  background: #1B90FF;
  color: #fff;
  padding: 8px 16px;
  margin: 4px;
  text-decoration: none;
  border-radius: 6px;
  font-family: sans-serif;
  transition: background 0.2s;
}

.year-buttons a:hover {
  background: #0040B0;
}

/* highlighted (active) button */
.year-buttons a.active {
  background: #0040B0;
  color: #fff;
  font-weight: bold;
}
